*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: url("../../assets/outros/background21.jpg");
}

.title{
    color: #daa520;
    text-transform: uppercase;
    margin: 30px 0;
}

.controle{
    margin-top: -5rem;
    margin-bottom: 2.5em;
}

.mesa{
    background-image: url("../../assets/outros/background21.jpg");
    border-radius: 15px;
    padding: 20px;
}

.borderCartas{
    width: 200px;
    height: 270px;
    margin-top: 5px;
    border-radius: 30px;
    border: 15px solid antiquewhite;
}

img{
    max-width: 100%;
}

img.carts{
    max-width: 160px;
}

img.cart{
    margin: 15px 15px 10px -4px;
    max-width: 145px;
}

.active img{
    border-radius: 20px;
    background: green;
}


