<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Introdução à componentes</title>
</head>
<body>
    <div id="app">
        <my-component></my-component>
        <child-component></child-component>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>

        Vue.component('my-component', {
            template: `<div>
                            <p>My Components</p>
                            <child-component></child-component>
                       </div>`
        })

        Vue.component('child-component', {
            template: '<p>Componente filho</p>'
        })

        new Vue({
            el: '#app',
            data:{

            }
        })
    </script>
</body>
</html>
